
@page "/game"
@using Interfaces;
@inject ILogin _login;
@inject Buffert.GameRoom _gameRoom;
@inject NavigationManager navigationManager
@inject IJSRuntime JS
@using Microsoft.AspNetCore.SignalR.Client;
@using Blazor_UI.Data;

<h1>Game</h1>
<p>Här finns Starta Knappen</p>
<GameChat />


